body{
    -webkit-text-fill-color: white;
    background-color: black;
    font-family: 'Monoton', sans-serif;
font-family: 'Pixelify Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
}


.a{
    width: 100%;
    height: 70px;
    background-color: black;
}


.b{
    width: 100%;
    height: 1000px;
    background-image: url("https://media0.giphy.com/media/2kLUG3No5lziZU5O5a/giphy.gif");
    background-size: 100% 100%;
    position: absolute;
    left: 0;
    right: 0;

}   



#d{
    display: flex;
    width: 100%;
    height: 550px;
    background-image: linear-gradient(rgb(32, 30, 30), rgb(19, 16, 16), rgb(16, 17, 17));
    margin-top: 1000px;
    position: absolute;
    left: 0;
    right: 0;
    justify-content: space-evenly;
}


.a1{
    position: inherit;
    margin-left: 40px;
    font-size: 50px;
    margin-top: 0;
    -webkit-text-fill-color: white;
    
}
.a2{
    position: absolute;
    width: 300px;
    height: 50px;
    margin-left: 80%;
    top: 15px;
    background-color: red;
    border-radius: 10px;

}
.b1{
    text-align: center;
    margin-top: 15%;
    font-size: 35px;
    font-family: serif;
}

form.form input[type=text] {
    box-sizing: border-box;
    padding: 10px;
    font-size: 25px;
    border: 1px solid gray;
    float: left;
    width: 50%;
    background-color: gray;
    margin-left: 17%;
    -webkit-text-fill-color: rgb(14, 14, 14);
    text-align: center;
    border-radius: 1%;
}
form.form button{
    box-sizing: border-box;
    float: right;
    width: 20%;
    padding: 14px;
    font-size: 17px;
    background-color: red;
    border: 2px solid rgb(100, 96, 96);
    cursor: pointer;
    margin-right: 13%;
    border-radius: 3%;
}

form.form button:hover{
    background: firebrick;
}

.ol{
    width: 30%;
    padding: 10px;
    margin: auto;
    height: 300px;
    font-size: 25px;
    margin-top: 7%;
}

#font{
    font-size: 42px;
    position: absolute;
    top: 5%;
    left: 8px;
    border-right: 2px solid gray;
    padding-right: 10px;
}

#ps{
    position: absolute;
    left: 90px;
    font-weight: bold;
    font-size: 15px;

}

#d > div {
    background-color: rgb(226, 216, 216);
    margin: 10px;
    margin-top: 5%;
    padding: 10px;
    font-size: 18px;
    height: 50%;
    width: 180px;

  }

  .img{
    max-width: 100%;
    height: 100%;
  }